@model IEnumerable<PostViewModel>

@{
    ViewData["Title"] = "PostList";
}

<h1>Posts</h1>

<p>
    <a asp-action="CreatePost">Create New</a>
</p>

<table class="table table-bordered table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.CreatedAt
                </td>
                <td>
                    @Html.ActionLink("Details", "PostDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>