@model PostDetailsViewModel

@{
    ViewData["Title"] = "PostDetails";
}

<h1>Post: @Model.Title</h1>
<a asp-action="Index">Back to List</a>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            Author: @Model.User.UserName
        </div>
        <div class="col-sm-2">
            @Model.CreatedAt
        </div>
        <div class="col-sm-10">
            @Model.Text
        </div>
        <div>
            @Html.ActionLink("Edit", "EditPost", new { id = Model.Id })
        </div>
        <div class="col-sm-10">
            @Html.ActionLink("Add comment", "CreateComment", "Comments", new { PostId = Model.Id })
        </div>
    </div>
</div>

@if (Model.Comments.Any())
{
    @foreach (var comment in Model.Comments)
    {
        <div>
            <div>
                Author: @comment.User.UserName
            </div>
            <div>
                <a asp-controller="Comments"
                   asp-action="CommentDetails"
                   asp-route-id="@comment.Id">
                    @comment.Text
                </a>
            </div>
        </div>
    }
}
