@model BlogViewModel

@{
    ViewData["Title"] = "BlogDetails";
}

<h1>Blog: @Model.Title</h1>
<a asp-action="Index">Back to List</a>
<div>
    <a class="btn btn-secondary" 
       asp-controller="Posts"
       asp-action="CreatePost"
       asp-route-blogid="@Model.Id">Add post</a>
</div>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.Title
            </td>
            <td>
                @Model.CreatedAt
            </td>
            <td>
                @Model.User.UserName
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBlog", new { id = Model.Id }) |
            </td>
        </tr>
    </tbody>
</table>

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        @post.User.UserName
                    </td>
                    <td>
                        <a asp-controller="Posts"
                           asp-action="PostDetails"
                           asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </td>
                    <td>
                        @post.Text
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}