@model IList<PostDetailsViewModel>

@{
    ViewData["Title"] = "BlogList";
}

<div class="jumbotron">
    <div class="col-sm-8 mx-auto">

    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card-body bg-light ">
            <a asp-controller="Blogs" asp-action="CreateBlog" class="float-left btn pt-0 btn-sm btn-outline-primary">New blog</a>
            <br>
            <hr class="clearfix" />

            @foreach (var post in Model)
            {
                <div class="media">
                    <div class="card-body">
                        <small class="float-right text-navy text-muted">@post.CreatedAt</small>
                        <p>
                            <a asp-controller="Posts" asp-action="PostDetails" asp-route-id="@post.Id" class="text-monospace"> @post.Title</a>
                        </p>
                        <br>
                        @if (User.Identity.Name == post.User.UserName)
                        {
                            <small class="text-navy text-muted">
                                <a asp-controller="Posts" asp-action="EditPost" asp-route-id="@post.Id" class="btn-edit btn-sm mr-1 mb-1">
                                    Edit
                                </a>
                            </small>
                            <small class="text-navy text-muted">
                                <a asp-controller="Posts" asp-action="DeletePost" asp-route-id="@post.Id" class="btn-danger btn-sm">Delete</a>
                            </small>
                        }
                        <small class="float-right text-navy text-muted">
                            by:
                            <a asp-controller="Account" asp-action="UserDetails" asp-route-id="@post.UserId">
                                <kbd>@post.User.UserName</kbd>
                            </a>
                        </small>
                    </div>
                </div>
                <hr class="clearfix" />
            }
        </div>
    </div>

    <div class="card-body col-md-4 pt-0">
        <div class="card-body bg-light">
            <div class="card-body">
                @await Component.InvokeAsync("Blogs")
            </div>
        </div>

    </div>

</div><!-- /.row -->
